.Users {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 370px));
  //grid-template-rows: repeat(2, 1fr);
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(260px, 400px));
    //grid-template-rows: repeat(3, 1fr);
  }
  @media (max-width: 615px) {
    grid-template-columns: repeat(1, minmax(260px, 600px));
    //grid-template-rows: repeat(6, 1fr);
  }
  gap: 29px;
}
